html,
body {
  padding: 0;
  margin: 1px;
  font-family:'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background: linear-gradient(181.27deg, #0D0040 0%, #000106 100%);
}

* {
  box-sizing: border-box;
}

/* a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}

