.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 999px;
  box-shadow: 0px 3px 10px rgba(186, 35, 189, 0.25);
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1title{
  font-size: 58px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.subTitle{
  font-size: 18px;
  margin:0.5px;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size: 18px;
  font-weight: 400;
  margin:1px;
}



.landingDisco{
  margin-top: 45px;
  margin-bottom: -15px;
}

/* Bounce */
.bounce{
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 32px rgba(186, 35, 189, 0.25);
  border-radius: 8px;
  width: 358px;
  height: 408px;
  padding: 16px;
}

.button{
  padding:10px 10px;
  background: #1ED760;
  border-radius: 0px 0px 8px 8px;
  width: 358px;
  margin-top: -50px;
}

.spotLink{
  text-decoration: none;
  color: black;
}

.event{
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 32px rgba(186, 35, 189, 0.25);
  border-radius: 8px;
  width: 358px;
  height: 361px;
  margin-top: -35px;
}

.eventDescription{
  text-align: left;
  font-size: 16px;
  margin-top: -135px;
  padding-left: 15px;
  padding-top: 10px;
}

.barName{
  font-size: 32px;
  margin-top: 15px;
}

.eventButton{
  background: #4200FF;
  box-shadow: 0px 4px 32px rgba(186, 35, 189, 0.25);
  border-radius: 8px;
  width: 358px;
  height: 50px;
  padding: 10px 10px;
  margin-top: 30px;
}

.eventName{
  text-align: left;
  font-size: 32px;
}

.footer{
  margin-top: 55px;
  width: 390px;
  height: 258px;
  background: #000000;
  border: 1px solid #000000;
  box-shadow: 0px -4px 32px -2px rgba(186, 35, 189, 0.25);
}

.footerLogo{
  margin-top: 30px;
}

.footerLinks{
text-decoration: none;
color:white;
font-size: 16px;
padding: 20px;
}

/* Icons */

.socials{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
  padding-top: 1.5%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 32px rgba(186, 35, 189, 0.25);
  border-radius: 121px;
  height: 82px;
  width: 358px;
}

.footerSocials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  padding-top: 1.5%;
  border-top: 1px solid #454545;
  border-bottom:1px solid #454545;
  height: 82px;
  width: 358px;
}
